.about_info{
    color: indigo;
    font-size: 20px;
    font-weight: 500;
}
.about_container{
    background-color: rgb(230, 230, 230);
    margin-top: 60px;
    border-radius: 10px;
    padding-bottom: 50px;
}
.about_heading{
    font-size: 25px;
    font-weight: 700;
}